body {
    font-family: 'Open Sans', sans-serif;
	
	background-size:cover;
	-webkit-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	background-position:center;
    background-attachment:fixed;
    text-align: center;
}
/*--header--*/


/* Header */
.main-w3layouts-agileinfo {
    width: 30%;
    margin: 0 auto;
    padding: 4em 2em;
    background: rgba(255, 255, 255, 0.07);
    -webkit-box-shadow: 0 6px 12px 0 rgb(37, 37, 37);
    -moz-box-shadow: 0 6px 12px 0 rgb(37, 37, 37);
    box-shadow: 0 6px 43px 0 rgba(0, 0, 0, 0.4);
}
.wthree-form {
    width: 450px;
    height: 293px;
    margin-left: 33%;
    margin-top: 10%;
}
h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 300;
    margin: 40px 0;
    color: rgb(248, 250, 248);
    letter-spacing: 9px;
    text-shadow: 4px 4px 3px #000;
    word-spacing: 4px;
    font-weight: 500;
    font-family: 'Josefin Slab', serif;
}
form {
    margin: 0 auto;
    width: 100%;
}

.form-sub-w3{
	position:relative;
    margin-bottom: 20px;
}
.form-sub-w3 input[type="text"], input[type="password"] {
    width: 85%;
    padding: 15px 66px 15px 19px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.16);
    border: 0;
    border-left: 2px solid #00c6d7;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: rgb(250, 248, 248);
    outline: 0;
    -webkit-box-shadow: 0 6px 12px 0 rgb(37, 37, 37);
    -moz-box-shadow: 0 6px 12px 0 rgb(37, 37, 37);
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
}
.submit-agileits input[type="submit"] {
    text-align: center;
    border: 0;
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    padding: 14px 90px;
    background-color: rgba(0, 0, 0, 0.34);
    border: 3px solid rgba(255, 255, 255, 0.43);
    -webkit-box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.71);
    box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.71);
    outline: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
}




.md3 a{
    color: rgb(248, 250, 248);
    font-size: 15px;
}
input[type="submit"] {
    text-align: center;
    border: 0;
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    padding: 14px 90px;
    background-color: rgba(0, 0, 0, 0.34);
    border: 3px solid rgba(255, 255, 255, 0.43);
    -webkit-box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.71);
    box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.71);
    outline: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}
input[type="submit"]:hover {
    background: rgb(245, 170, 170);
    color: black;
	transition:0.5s all;
	
}
/*.register{
	margin-top: 20px;
	color: rgb(57, 250, 131);
	text-align: center
}*/
